.infoblock{
    width:99%;
    border: solid 1px;
    min-height: 48px;
    padding: 4px 4px 4px 4px;
    border-radius: 5px;
    margin-bottom: 10px;
}
    .user{
        background-color: #DDE0FF;
    }
    .guest{
        background-color: #DDFFE4;
    }


.infoblock .photo{
    border: solid 2px;
    border-radius: 2px;
    height:48px;
    width:48px;
}

    .user .photo{
        float: left;
    }

    .guest .photo{
        float: right;
    }

.infoblock .username{
    font-family: Arial,"MS Trebuchet",sans-serif;
    font-size: 18px;
    position: absolute;
    text-shadow: 1px 1px 1px white;
}
    .user .username{
        float: left;
        margin-left: 70px;
        margin-top: 2px;
    }

    .guest .username{
        float: right;
        position: relative;
        margin-right: 17px;
        margin-top: 2px;
    }

.textblock{
    width: 91%;
    margin-left: 52px;
    margin-top: 36px;
}

.text{
    margin-left: 20px;
    font-size: 14px;
    text-shadow: 1px 1px white;
    font-family: Arial, "MS Trebuchet", sans-serif;
    color:#2D2D2D;
    text-shadow: 2px 2px #F1F1F1;
    text-align: justify;
}