.infoblock{
    width:99%;
    border: solid 1px;
    min-height: 48px;
    padding: 4px 0px 8px 4px;
    border-radius: 5px;
    margin-bottom: 10px;
}
    .user{
        background-color: #DDE0FF;
    }
    .guest{
        background-color: #DDFFE4;
    }


.infoblock .photo{
    float: left;
    border: solid 2px;
    border-radius: 2px;
    background-color: #DDE0FF;
    height:48px;
    width:48px;
}

.infoblock .username{
    float: left;
    font-family: Arial,"MS Trebuchet",sans-serif;
    font-size: 18px;
    margin-left: 70px;
    margin-top: 2px;
    position: absolute;
    text-shadow: 1px 1px 1px white;
}

.textblock{
    width: 80%;
    margin-left: 52px;
    margin-top: 26px;
}

.text{
    margin-left: 20px;
    font-size: 14px;
    text-shadow: 1px 1px white;
    font-family: Arial, "MS Trebuchet", sans-serif;
    color:#2D2D2D;
    text-shadow: 2px 2px #F1F1F1;
}